<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="supply_activity_app.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="activitatea_de_aprovizionare_proj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <supply_activity_app.Properties.Settings>
            <setting name="pozitie" serializeAs="String">
                <value>325, 175</value>
            </setting>
            <setting name="locmat" serializeAs="String">
                <value>375, 175</value>
            </setting>
            <setting name="pref" serializeAs="String">
                <value>325, 200</value>
            </setting>
            <setting name="locmacte" serializeAs="String">
                <value>375, 200</value>
            </setting>
        </supply_activity_app.Properties.Settings>
        <activitatea_de_aprovizionare_proj.Properties.Settings>
            <setting name="test" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="test1" serializeAs="String">
                <value>33, 33</value>
            </setting>
            <setting name="loc" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="locatie" serializeAs="String">
                <value>125, 500</value>
            </setting>
            <setting name="poz" serializeAs="String">
                <value>250, 175</value>
            </setting>
            <setting name="pozitie" serializeAs="String">
                <value>325, 175</value>
            </setting>
            <setting name="mat" serializeAs="String">
                <value>350, 175</value>
            </setting>
            <setting name="locmat" serializeAs="String">
                <value>375, 175</value>
            </setting>
        </activitatea_de_aprovizionare_proj.Properties.Settings>
    </userSettings>
</configuration>